html, body {
  height: 99%;
}
body {
  float: none;
  width: auto;
}
h1 {
  font-size: 20px;
  color: red;
  font-family: arial;
  color: white;
  text-align: center;
}

.top {
  min-width: 250px;
  width: auto;
  height: 10%;
  min-height: 110px;
  background-color: #0E0E0E;
}
table {
  width: 100%;
  height: 80%;
}
tbody {
  width: 100%;
  height: 80%;
}
#first-city {
  width:  40%;
  margin-left:  30%;
  margin-right: 30%;
}
#second-city {
  width:  40%;
  margin-left:  30%;
  margin-right: 30%;
}
.map {
  width:auto;
  height: 85%;
  min-height: 300px;
}
.autocomplete-suggestions {
  color: inherit;
  background-color: white;
}
a:link {
  text-decoration: none;
  color: #fff;
}
a:visited {
  text-decoration: none;
  color: #fff;
}
::-webkit-scrollbar{
    width:12px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
::-webkit-scrollbar-track{
    border-width:0;
}
::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}
